*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/*nav bar start*/
.nav{
    display: flex;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width: 1530px;
}
.gamer{
    
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;
    

}
.frame{
    width: 80px;
    height: 40px;
    margin-top: 40px;
    padding-right: 20px;
    margin-left: 60px;
    
}
.para-about{
    margin-left: 500px;
    padding-left: 10px;
    
}
.about{
    padding-left: 20px;
    padding-top: 35px;
}
.follow{
    padding: 6px;
}
.svg-follow{
    padding-left:15px ;
    padding-top: 15px;
    padding-right: 3px;
   
}

.btn-primary{
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 230px;
    height: 56px;
    margin-top: 40px;
    margin-left: 100px;
    
}
/*nav bar finished*/
/*section one start*/
.section-one{
    display:flex;
    padding-left: 60px;
}
.section-title{
    margin-top: 60px;
}
.group-18{
    width: 611px;
    height: 700px;
    padding-left: 350px;
}


.play{
    
    color: #0B0223;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.goat{

    margin-top: 0px;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
}
.section-description{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;

}
.sign{
    
    padding: 17px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border-style: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    }
.go{
    padding: 17px 30px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    border-style: none;
}
.button-sign{
    padding-top: 20px;
    
}

/*section two started*/
.section-two{
    width: 1530px;
}
.online-title{
    color: #0B0223;
    font-size:2.8rem;
    font-style: normal;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 0px;
    text-align: center;
 
}
span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.8rem;
    font-weight: 700;
}
.section-description-2{
    color: #534C64;
    font-size: 1.1rem;
    text-align: center; /*problem find that*/
    
}
.section-three{
    width: 1530px;
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
}
.animation{
    width: 328px;
    height: 450px;
    background-color:#fff;
    border-radius: 16px;
    

}
.animation img{
    width:300px;
    margin: 14px;

}
.section-description-3{
    color: #534C64;
    padding-left: 15px;
}

/*section three start*/
.section-4{
    display:flex ;
}
.rectangle-67{
    width: 520px;
    height: 500px;
    margin-left: 50px;
    margin-top: 100px;
    
}

.rectangle-78{
    position: relative;
    right:150px ;
    top: 150px;
    
}
.play-games{
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 60px;
}
.animation-2{
    padding-right: 100px;
    margin-top: 200px;
}
/*new part bonus  action div start*/
.action-div{
    margin-top: 300px;
    display: flex;
    margin-left: 70px;
    
}

.arcade{
    display: flex;
    margin-right: 40px;
    
}
.arcade:hover{
    border: 2px solid #ff42a5;
    border-radius: 50px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.action{
    color: #0B0223;
    font-size: 18px;
    font-weight: 600;
    padding-right: 5px;
    
}
.adventure{
    width: 50px;
    height: 50px;
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 2px;
}

/* action div 2 start  */

.action-div-two{
    display: flex;
    margin-top: 30px;
    margin-left: 150px;
}


/*footer start*/
.footer{
    width: 1530px;
    height: 600px;
    background: #0B0223;
    margin-top: 80px;
}
.footer-1{
    display: flex;
    padding-top: 50px;
    padding-left: 600px;
  
}

.frame-2{
    width: 80px;
    height: 40px;
    margin-top: 45px;
    padding-right: 20px;
    margin-left: 60px;
}

.gamer-2{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.span-two{
    background: #FFF;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.8rem;
    font-weight: 700;
}

/* footer-2 start*/
.footer-2{
    margin-left: 260px;
}

.footer-ul-1 {
    display: flex;
    text-decoration: none;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
}
li{
    list-style: none;
    
}
.our{
    padding-left: 40px;
    padding-right: 40px;
}
/*footer-3 start*/
.footer-3{
    margin-left: 500px;
   
}
.footer-svg{
    width: 40px;
    height: 40px;
    padding: 25px;   
}
.footer-four{
    display: flex;
    margin-left: 400px;
    
}
.terms{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    padding-left: 40px;
    padding-top: 20px;
}


.last{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

/*responsive website*/
@media screen and (max-width:576px){
    .section-three{
        flex-direction: column;
        margin-left: 200px;
    }
    .nav{
        flex-direction: column;
        align-items: center;
        width: 650px;
        
    }
    .about{padding: 0px;}
    .frame{padding-right: 15px;}
    .section-one{
        flex-direction: column-reverse;
    }
    .group-18{
        padding-left: 5px;

    }
    .section-title{
        padding-left: 20px;
       
    }
    .section-two{
        
    }
    .section-4{
        flex-direction: column-reverse;
    }
}